<!DOCTYPE html>
<html html="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>Games</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head><body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a href="http://localhost:9007/jeux" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Back to Games</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Sign In</a>
        <a th:href="@{/register}" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >Register</a>
    </div>
</div>

<!-- Page content -->
<div class="w3-content" style="">

    <!-- Register Section -->
    <div class="w3-black" id="register">
        <div class="w3-container w3-content w3-padding-64" style="">
            <h1>User Registration - Sign Up</h1>

            <form method="post" th:action="@{/register}" th:object="${user1}" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">E-mail: </label>
                        <div class="col-8">
                            <input type="email" th:field="*{email}" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Mot de passe: </label>
                        <div class="col-8">
                            <input type="password" th:field="*{motDePasse}" class="form-control"
                                   required minlength="4" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Nom: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{nom}" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Prénom: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{prenom}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Pseudo: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{pseudo}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Date de Naissance: </label>
                        <div class="col-8">
                            <input type="date" th:field="*{dateNaissance}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Adresse: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{adresse}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div>
                        <input class="w3-btn" type="submit" value="SUBMIT">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
